<div class="tabcontainer">
  <div class="tabcontent">
    <img src="" alt="vegy" />
    <div class="tabcontent__descr"></div>
  </div>
  <div class="tabcontent">
    <img src="" alt="elite" />
    <div class="tabcontent__descr"></div>
  </div>
  <div class="tabcontent">
    <img src="" alt="post" />
    <div class="tabcontent__descr"></div>
  </div>
  <div class="tabcontent">
    <img src="" alt="vegy" />
    <div class="tabcontent__descr"></div>
  </div>
  <div class="tabheader">
    <h3></h3>
    <div class="tabheader__items">
      <div class="tabheader__item tabheader__item_active">Фитнес</div>
      <div class="tabheader__item"></div>
      <div class="tabheader__item"></div>
      <div class="tabheader__item"></div>
    </div>
  </div>
</div>
